<div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" class="head-bg ">
    <div fxLayout="row wrap">
        <div fxFlex.xl="5" fxFlex.lg="5" fxFlex.md="5" fxFlex.sm="5" fxFlex.xs="0" fxFlex="100"></div>
        <div fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="100" fxFlex="100">
            <div fxLayout="row wrap">
                <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100"
                    class="mt-3r mb-2r lan">
                    <div fxLayout="row wrap">
                        <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
                            fxFlex="100" style="margin-right: 16px;
                            margin-bottom: 2rem;">
                            <label class="font-600 fs-42">Your Satisfaction Is Our Priority!</label>
                            <span class="fl-r"> <img src="./assets/images/Layer 2.png" height="20" width="20" /></span>
                            <span class="font-sm fl-r">View More</span>

                        </div>
                        <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" fxFlex="100">
                            <img src="./assets/images/Image03.png" height="270" width="270" />
                            <div class="w-100">

                            </div>
                            <mat-card class="card">
                                <mat-card-content>
                                    <p class="font-600 fs-15">Boston House, Andheri East <span>
                                            <img src="./assets/images/Hearticon.png" width="12" height="12" />
                                        </span></p>
                                    <p><span class="font-600 ">₹ 14,299</span>
                                        <span style=" text-decoration: line-through;" class="font-sm ml-3">₹28598</span>
                                    </p>
                                    <p>
                                        <span class="mr-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/wifi-router.png" width="12" height="12" />
                                            </span>100 Mbps</span>
                                        <span class="ml-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/cctv.png" width="12" height="12" />
                                            </span>Yes</span>

                                    </p>
                                    <p>
                                        <span class="mr-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/coffee-cup.png" width="12"
                                                    height="12" /></span>
                                            Unlimted</span>
                                        <span class="ml-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/user.png" width="12" height="12" />
                                            </span>Unlimted</span>

                                    </p>
                                    <p>
                                        <span class="mr-2">

                                            <button mat-raised-button class="btn-border">
                                                Book Now</button>
                                        </span>
                                        <span>
                                            <img src="./assets/images/Feedback.png" width="80" height="12" />
                                        </span>
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" fxFlex="100">

                            <div class="w-100">
                                <img src="./assets/images/Image01.png" height="270" width="270" />
                            </div>
                            <mat-card class="card">
                                <mat-card-content>
                                    <p class="font-600 fs-15">Boston House, Andheri East <span>
                                            <img src="./assets/images/Hearticon.png" width="12" height="12" />
                                        </span></p>
                                    <p><span class="font-600 ">₹ 14,299</span>
                                        <span style=" text-decoration: line-through;" class="font-sm ml-3">₹28598</span>
                                    </p>
                                    <p>
                                        <span class="mr-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/wifi-router.png" width="12" height="12" />
                                            </span>100 Mbps</span>
                                        <span class="ml-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/cctv.png" width="12" height="12" />
                                            </span>Yes</span>

                                    </p>
                                    <p>
                                        <span class="mr-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/coffee-cup.png" width="12"
                                                    height="12" /></span>
                                            Unlimted</span>
                                        <span class="ml-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/user.png" width="12" height="12" />
                                            </span>Unlimted</span>

                                    </p>
                                    <p>
                                        <span class="mr-2">

                                            <button mat-raised-button class="btn-border">
                                                Book Now</button>
                                        </span>
                                        <span>
                                            <img src="./assets/images/Feedback.png" width="80" height="12" />
                                        </span>
                                    </p>
                                </mat-card-content>
                            </mat-card>


                        </div>
                        <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" fxFlex="100">

                            <div class="w-100">
                                <img src="./assets/images/Image02.png" height="270" width="270" />
                            </div>
                            <mat-card class="card">
                                <mat-card-content>
                                    <p class="font-600 fs-15">Boston House, Andheri East <span>
                                            <img src="./assets/images/Hearticon.png" width="12" height="12" />
                                        </span></p>
                                    <p><span class="font-600 ">₹ 14,299</span>
                                        <span style=" text-decoration: line-through;" class="font-sm ml-3">₹28598</span>
                                    </p>
                                    <p>
                                        <span class="mr-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/wifi-router.png" width="12" height="12" />
                                            </span>100 Mbps</span>
                                        <span class="ml-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/cctv.png" width="12" height="12" />
                                            </span>Yes</span>

                                    </p>
                                    <p>
                                        <span class="mr-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/coffee-cup.png" width="12"
                                                    height="12" /></span>
                                            Unlimted</span>
                                        <span class="ml-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/user.png" width="12" height="12" />
                                            </span>Unlimted</span>

                                    </p>
                                    <p>
                                        <span class="mr-2">

                                            <button mat-raised-button class="btn-border">
                                                Book Now</button>
                                        </span>
                                        <span>
                                            <img src="./assets/images/Feedback.png" width="80" height="12" />
                                        </span>
                                    </p>
                                </mat-card-content>
                            </mat-card>

                        </div>
                        <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" fxFlex="100">

                            <div class="w-100">
                                <img src="./assets/images/Image004.png" height="270" width="270" />
                            </div>
                            <mat-card class="card">
                                <mat-card-content>
                                    <p class="font-600 fs-15">Boston House, Andheri East <span>
                                            <img src="./assets/images/Hearticon.png" width="12" height="12" />
                                        </span></p>
                                    <p><span class="font-600 ">₹ 14,299</span>
                                        <span style=" text-decoration: line-through;" class="font-sm ml-3">₹28598</span>
                                    </p>
                                    <p>
                                        <span class="mr-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/wifi-router.png" width="12" height="12" />
                                            </span>100 Mbps</span>
                                        <span class="ml-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/cctv.png" width="12" height="12" />
                                            </span>Yes</span>

                                    </p>
                                    <p>
                                        <span class="mr-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/coffee-cup.png" width="12"
                                                    height="12" /></span>
                                            Unlimted</span>
                                        <span class="ml-3 font-sm"> <span class="mr-1"><img
                                                    src="./assets/images/user.png" width="12" height="12" />
                                            </span>Unlimted</span>

                                    </p>
                                    <p>
                                        <span class="mr-2">

                                            <button mat-raised-button class="btn-border">
                                                Book Now</button>
                                        </span>
                                        <span>
                                            <img src="./assets/images/Feedback.png" width="80" height="12" />
                                        </span>
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100"
                    class="head-bg ">
                    <div fxLayout="row wrap">
                        <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
                            fxFlex="100" class="head-bg ">
                            <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
                                fxFlex="100" style="margin-right: 16px;
                            margin-bottom: 2rem;">
                                <label class="font-600 fs-42">News Update And Insights</label>
                                <span class="fl-r"> <img src="./assets/images/Layer 2.png" height="20"
                                        width="20" /></span>
                                <span class="font-sm fl-r">View More</span>

                            </div>
                        </div>
                        <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
                            fxFlex="100" class="head-bg ">
                            <div fxLayout="row wrap">
                                <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100"
                                    fxFlex="100" class="head-bg ">
                                    <p>
                                        <img src="./assets/images/Image111.png" />
                                    </p>
                                </div>
                                <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100"
                                    fxFlex="100" class="head-bg ">
                                    <div class="card">
                                        <label class="font-600">The Future of Coworking: What We Learned in 2020</label>
                                        <p class="font-sm">Due to the effects of COVID-19, the global market for coworking spaces is
                                            expected to fall by 12.9% from $9.27 billion in 2019 to $8.24 billion in
                                            2020. The growth of the market is limited by the tremendous increase in the
                                            number of employees working from home because of the coronavirus lockdown. A
                                            recent report reveals that in March 2020, operators of coworking spaces saw
                                            a 50% decline in revenue. With no end in sight for the current global health
                                            crisis, does this mean there’s no hope for coworking space operators and
                                            developers? Experts say no. According to some, remote work isn’t going
                                            anywhere. Despite the massive hit the industry has taken, there is an upside
                                            stemming from the changing attitudes that will make coworking a top option
                                            for businesses in the future.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex.xl="5" fxFlex.lg="5" fxFlex.md="5" fxFlex.sm="5" fxFlex.xs="0" fxFlex="100"></div>
    </div>
</div>