<div fxLayout="row wrap">
    <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" class="bg-blk">
        <div fxLayout="row wrap">
            <div fxFlex.xl="10" fxFlex.lg="5" fxFlex.md="5" fxFlex.sm="5" fxFlex.xs="100" fxFlex="100"></div>
            <div fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="100" fxFlex="100" class="pa-3">
                <div fxLayout="row wrap">
                    <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100">
                        <div fxLayout="row wrap">
                            <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="20">

                                <p>
                                    <img src="./assets/images/Logo Web 2.png" />
                                </p>
                                <p class="font-sm botter-txt-clr w-90" >
                                    Coworking a Directory Listing xd Website Template. Its complete design systems for
                                    your real estate or realtor project.
                                    Its build with Bootstrap framework.

                                </p>
                                <p class="font-sm botter-txt-clr w-90"> 1800 123 345 789 
                                  
                                </p>
                                <p class="font-sm botter-txt-clr w-90"> 
                                    3 Doris St, North Sydney, NSW 2060
                                </p>
                            </div>
                            <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="20">
                                <label class="botter-txt-clr font-600">Popular Search</label>
                                <p class="font-sm botter-txt-clr pt-2">Search Spaces</p>
                                <p class="font-sm botter-txt-clr"> Search by City</p>
                                <p class="font-sm botter-txt-clr">Top Rated Spaces</p>
                                <p class="font-sm botter-txt-clr"> Coworking Map</p>
                                <p class="font-sm botter-txt-clr">Shared Office Space</p>
                                <p class="font-sm botter-txt-clr">Meeting Rooms</p>
                                <p class="font-sm botter-txt-clr"> TEDx Host Spaces</p>
                            </div>
                            <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="20">
                                <label class="botter-txt-clr font-600">Type Coworking</label>
                                <p class="font-sm botter-txt-clr  pt-2"> Coworking space</p>
                                <p class="font-sm botter-txt-clr"> Meeting space</p>
                                <p class="font-sm botter-txt-clr"> Office space</p>
                                <p class="font-sm botter-txt-clr"> Retail Space</p>
                                <p class="font-sm botter-txt-clr"> Event space</p>
                                <p class="font-sm botter-txt-clr"> Virtual Space</p>

                            </div>
                            <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="20">
                                <label class="botter-txt-clr font-600">Company</label>
                                <p class="font-sm botter-txt-clr  pt-2"> About Us</p>
                                <p class="font-sm botter-txt-clr"> Careers Blog</p>
                                <p class="font-sm botter-txt-clr"> Terms & Conditions</p>
                                <p class="font-sm botter-txt-clr"> Privacy Policy</p>
                                <p class="font-sm botter-txt-clr"> Rental Agreement</p>
                                <p class="font-sm botter-txt-clr"> Testimonials</p>
                                <p class="font-sm botter-txt-clr"> SiteMap</p>
                                <p class="font-sm botter-txt-clr"> FAQ</p>

                            </div>
                            <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="20">
                                <label class="botter-txt-clr font-600">LOCATIONS</label>
                                <p class="font-sm botter-txt-clr  pt-2"> Coworking Space in Chennai</p>
                                <p class="font-sm botter-txt-clr">Coworking Space in Hyderabad</p>
                                <p class="font-sm botter-txt-clr"> Coworking Space in Bangalore</p>
                                <p class="font-sm botter-txt-clr"> Coworking Space in Hyderabad</p>
                                <p class="font-sm botter-txt-clr"> Coworking Space in Mumbai</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex.xl="5" fxFlex.lg="5" fxFlex.md="5" fxFlex.sm="5" fxFlex.xs="100" fxFlex="100"></div>
        </div>
    </div>
    <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100"
        class="bg-grey pt-1">
        <div fxLayout="row wrap">
            <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlex="100"> 
                <p class="text-center footer-text-clr font-sm">© Yourlogo 2020. All rights reserved</p>
            </div>
            <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlex="100">
                <p class="text-center footer-text-clr font-sm">Design by Themadbrains Uiux Studio</p>
            </div>
        </div>
       
      
        
    </div>
</div>