<div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" class="bg-blk">
    <div fxLayout="row wrap">
        <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="10" fxFlex.xs="100" fxFlex="100"></div>
        <div fxFlex.xl="80" fxFlex.lg="80" fxFlex.md="80" fxFlex.sm="80" fxFlex.xs="100" fxFlex="100">
            <div fxLayout="row wrap">
                <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100">
                    <div fxLayout="row wrap">
                        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="20">

                            <p>
                                <img src="./assets/images/Logo Web 2.png" />
                            </p>
                            <p class="font-sm botter-txt-clr"  style="color: #9E9E9E;">
                                Coworking a Directory Listing xd Website Template. Its complete design systems for your real estate or realtor project.
                                 Its build with Bootstrap framework. 
                                
                            </p>
                            <p class="font-sm botter-txt-clr"> 1800 123 345 789 3 Doris St, North Sydney, NSW 2060</p>
                        </div>
                          <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="20">
                            <label class="botter-txt-clr font-600">Popular Search</label>
                          </div>
                          <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="20">
                            <label class="botter-txt-clr font-600">Type Coworking</label>
                          </div>
                          <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="20">
                            <label class="botter-txt-clr font-600">Company</label>
                          </div>
                          <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="20">
                            <label class="botter-txt-clr font-600">LOCATIONS</label>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="10" fxFlex.xs="100" fxFlex="100"></div>
    </div>
</div>