<div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100"
style="margin-top: 4rem;
margin-bottom: 4rem;">
    <div fxLayout="row wrap">
        <div fxFlex.xl="5" fxFlex.lg="5" fxFlex.md="5" fxFlex.sm="5" fxFlex.xs="0" fxFlex="100"></div>
        <div fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="100" fxFlex="100">
            <div fxLayout="row wrap">
                <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" class="mb-2r">
                    <div fxLayout="row wrap">
                        <div fxFlex.xl="60" fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="60" fxFlex.xs="100" fxFlex="100">
                            <label class="font-600 fs-42">We’re On Mission To Transfer The Workplace.</label>
                        </div>
                        <div fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="40" fxFlex.sm="40" fxFlex.xs="100" fxFlex="100">
                            <span class="font-sm">Dui ligula interdum tortor, at pretium ligula quam ut est. Ut mollis nisi quis magna hendrerit
                                vulputate. Fusce sagittis rhoncus tortor.</span>
                        </div>
                    </div>
                   
                   
                </div>

                <div fxFlex.xl="45" fxFlex.lg="45" fxFlex.md="45" fxFlex.sm="45" fxFlex.xs="100" fxFlex="100" class="highlight-bg mr-2"
                style="padding: 2rem;
                height: 158px;">
                    <div fxLayout="row wrap">
                        <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" fxFlex="100">
                            <p><img src="./assets/images/chair.png" width="50" height="75"/></p>
                        </div>
                        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlex="100">
                            <label class="font-sm fs-20">Single Flexible Pricing</label>
                            <p class="font-sm fs-15">Single Flexible Pricing</p>
                            <p>
                                <span><img src="./assets/images/Minise.png" width="12" height="12"/></span>
                                <span>1</span>
                                <span><img src="./assets/images/Plus.png" width="12" height="12"/></span>
                            </p>
                        </div>
                        <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" fxFlex="100">
                            <p>₹ 6199/month</p>
                            <p><button mat-raised-button class="btn-bg ">
                                Book Now <span><img src="./assets/images/Layer 2.png" style="vertical-align:middle;" /></span></button></p>

                        </div>
                    </div>

                </div>
                <div fxFlex.xl="45" fxFlex.lg="45" fxFlex.md="45" fxFlex.sm="45" fxFlex.xs="100" fxFlex="100" class="highli ml-2"
                style="padding: 2rem;
                height: 158px;">
                    <div fxLayout="row wrap">
                        <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" fxFlex="100">
                            <p><img src="./assets/images/office-desk.png" width="50" height="75"/></p>
                        </div>
                        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlex="100">
                            <label class="font-sm fs-20 clr-orng">Single Flexible Pricing</label>
                            <p class="font-sm fs-15 clr-orng">Single Flexible Pricing</p>
                            <p>
                                <span><img src="./assets/images/Minise-1.png" width="12" height="12"/></span>
                                <span class="clr-orng">1</span>
                                <span><img src="./assets/images/Plus-1.png" width="12" height="12"/></span>
                            </p>
                        </div>
                        <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" fxFlex="100">
                            <p class="clr-orng"> ₹ 6199/month</p>
                            <p><button mat-raised-button class="btn-bg ">
                                Book Now <span><img src="./assets/images/arrow.png" style="vertical-align:middle;"/></span></button></p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div fxFlex.xl="5" fxFlex.lg="5" fxFlex.md="5" fxFlex.sm="5" fxFlex.xs="0" fxFlex="100"></div>
    </div>
</div>