<div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" class="head-bg " style="margin-bottom: 65px;">
    <img src="./assets/images/testBg.png" class="pos-a" style="width: 100%;height: 725px;" />
    <div fxLayout="row wrap">
        <div fxFlex.xl="5" fxFlex.lg="5" fxFlex.md="5" fxFlex.sm="5" fxFlex.xs="0" fxFlex="100"></div>
        <div fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="100" fxFlex="100">
            <div fxLayout="row wrap">
                <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" class="mt-3r mb-2r">
                    <div fxLayout="row wrap">
                        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="100">
                            <img src="./assets/images/Logo Web 2.png" />
                        </div>
                        <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="10" fxFlex.xs="10" fxFlex="100">

                        </div>
                        <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="10" fxFlex.xs="10" fxFlex="100">
                            <p class="font-sm clr-black border-btm">Home</p>
                        </div>
                        <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="10" fxFlex.xs="10" fxFlex="100">
                            <p class="font-sm clr-grey">Features</p>
                        </div>
                        <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="10" fxFlex.xs="10" fxFlex="100">
                            <p class="font-sm clr-grey">Integrations</p>
                        </div>
                        <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="10" fxFlex.xs="10" fxFlex="100">
                            <p class="font-sm clr-grey">Pricing</p>
                        </div>
                        <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="10" fxFlex.xs="10" fxFlex="100">
                            <p class="font-sm clr-grey">Customers</p>
                        </div>
                        <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="10" fxFlex.xs="10" fxFlex="100">
                            <p class="font-sm clr-grey">Login</p>
                        </div>
                        <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="10" fxFlex.xs="10" fxFlex="100">

                            <button mat-raised-button class="btn-clr font-sm pa-1">Add Listing
                                <span class="btn-free-txt">Free </span> </button>
                        </div>
                    </div>
                </div>
                <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" class="mb-2r">
                    <div fxLayout="row wrap">
                        <div fxFlex.xl="60" fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="60" fxFlex.xs="100" fxFlex="100">
                            <h1 class="font-lg">Private 
                                <span class="clr-orng">Offices</span> And Workspaces</h1>
                            <p class="font-md clr-grey w-90" >Grow your business in Hamilton with flexible offices and workspaces
                                in a modern coworking environment built for small businesses and teams.</p>

                                <span>

                                    <button mat-raised-button class="btn-border">
                                        <span>
                                            <img style="margin-right:5px; vertical-align:sub;" src="./assets/images/Player.png" width="16PX"/>
                                        </span>Watch Video</button> 
                                </span>
                                <span>
                                    <button style="padding: 1px 24px 1px 24px !important;" mat-raised-button class="clr-white bg-orange  ml-1">Book Now</button> 
                                </span>
                                <div class="mt-3r">
                                    <span class="pa-2 clr-orng">PRIVATE OFFICE</span>
                                    <span class="pa-2 clr-grey">Dedicated Desk</span>
                                    <span class="pa-2 clr-grey">Shared Desk</span>
                                </div>
                        </div>
                        <div fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="40" fxFlex.sm="40" fxFlex.xs="100" fxFlex="100">
                            <div>
                                <img src="./assets/images/land_imgs.png" width="434" height="600" class="pos-a"/>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex.xl="5" fxFlex.lg="5" fxFlex.md="5" fxFlex.sm="5" fxFlex.xs="0" fxFlex="100"></div>
    </div>
</div>