<div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" class="head-bg ">
    <div fxLayout="row wrap">
        <div fxFlex.xl="5" fxFlex.lg="5" fxFlex.md="5" fxFlex.sm="5" fxFlex.xs="0" fxFlex="100"></div>
        <div fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="100" fxFlex="100">
            <div fxLayout="row wrap">
                <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100"
                    class="mt-3r mb-2r">
                    <div fxLayout="row wrap">
                        <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
                            fxFlex="100">
                            <h4>Featured Coworking Space</h4>
                            <span>View More</span>
                        </div>
                        <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" fxFlex="100">
                            <img src="./assets/images/Image03.png"  height="270" width="270"/>
                            <div class="w-100">
                              
                            </div>
                            <mat-card style="margin-top: -110px;
                            margin-left: 8px;
                            margin-right: 8px;
                            width: 77%;">
                                <mat-card-content >
                                    <p class="font-600 fs-15">Boston House, Andheri East <span>
                                        <img src="./assets/images/Hearticon.png" width="12" height="12"/>
                                    </span></p>
                                    <p><span>₹ 14,299</span>
                                        <span>₹28598</span>
                                    </p>
                                    <p>
                                        <span>₹28598</span>
                                        <span>Yes</span>

                                    </p>
                                    <p>
                                        <span>₹28598</span>
                                        <span>Yes</span>

                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" fxFlex="100">
                          
                                <div class="w-100">
                                    <img src="./assets/images/Image01.png" height="270" width="270"/>
                                </div>
                                <mat-card style="margin-top: -110px;
                            margin-left: 8px;
                            margin-right: 8px;
                            width: 77%;">
                                <mat-card-content >
                                    <p class="font-600 fs-15">Boston House, Andheri East <span>
                                        <img src="./assets/images/Hearticon.png" width="12" height="12"/>
                                    </span></p>
                                    <p><span>₹ 14,299</span>
                                        <span>₹28598</span>
                                    </p>
                                    <p>
                                        <span>₹28598</span>
                                        <span>Yes</span>

                                    </p>
                                    <p>
                                        <span>₹28598</span>
                                        <span>Yes</span>

                                    </p>
                                </mat-card-content>
                            </mat-card>

                            
                        </div>
                        <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" fxFlex="100">
                           
                                <div class="w-100">
                                    <img src="./assets/images/Image02.png" height="270" width="270" />
                                </div>
                                <mat-card style="margin-top: -110px;
                            margin-left: 8px;
                            margin-right: 8px;
                            width: 77%;">
                                <mat-card-content >
                                    <p class="font-600 fs-15">Boston House, Andheri East <span>
                                        <img src="./assets/images/Hearticon.png" width="12" height="12"/>
                                    </span></p>
                                    <p><span>₹ 14,299</span>
                                        <span>₹28598</span>
                                    </p>
                                    <p>
                                        <span>₹28598</span>
                                        <span>Yes</span>

                                    </p>
                                    <p>
                                        <span>₹28598</span>
                                        <span>Yes</span>

                                    </p>
                                </mat-card-content>
                            </mat-card>
                            
                        </div>
                        <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" fxFlex="100">
                           
                                <div class="w-100">
                                    <img src="./assets/images/Image004.png" height="270" width="270" />
                                </div>
                                <mat-card style="margin-top: -110px;
                            margin-left: 8px;
                            margin-right: 8px;
                            width: 77%;">
                                <mat-card-content >
                                    <p class="font-600 fs-15">Boston House, Andheri East <span>
                                        <img src="./assets/images/Hearticon.png" width="12" height="12"/>
                                    </span></p>
                                    <p><span>₹ 14,299</span>
                                        <span>₹28598</span>
                                    </p>
                                    <p>
                                        <span>₹28598</span>
                                        <span>Yes</span>

                                    </p>
                                    <p>
                                        <span>₹28598</span>
                                        <span>Yes</span>

                                    </p>
                                </mat-card-content>
                            </mat-card>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex.xl="5" fxFlex.lg="5" fxFlex.md="5" fxFlex.sm="5" fxFlex.xs="0" fxFlex="100"></div>
    </div>
</div>