.font-sm {
    font: normal normal normal 16px/20px Proxima Nova !important;
}

.font-md {
    font: normal normal normal 24px/48px Proxima Nova !important;
}

.font-lg {
    font: normal normal bold 60px/110px Proxima Nova !important;
}
.font-600{
    font: normal normal 600 20px/32px Proxima Nova !important;
}
.font-medium{
    font: normal normal medium 46px/56px Proxima Nova !important;
}
.fs-15{
    font-size: 15px !important;
}
.fs-12{
    font-size: 12px !important;
}
.fs-18{
    font-size: 18px !important;
}
.fs-42{
    font-size: 42px !important;
}
.text-capital {
    text-transform: capitalize !important;
}

.clr-black {
    color: #000000 !important;
}
.bg-blk{
    background-color: #000000 !important;
}

.clr-grey {
    color: #565656 !important;
}

.clr-white {
    color: #ffffff !important;
}

.btn-clr {
    background-color: #FF6E00;
    color: #ffffff;
}

.clr-orng {
    color: #FF6E00;
}
.bg-grey{
    background-color: #565656;
}
.pa-2{
    padding: 1rem !important;
}

.pa-1 {
    padding: .5rem !important;
}

.ma-1 {
    margin: .5rem !important;
}

.ml-1 {
    margin-left: .5rem !important;
}
.mr-1{
    margin-right: .5rem !important;
}
.mr-2{
    margin-right: 1rem !important;
}
.mr-3{
    margin-right: 1.5rem !important ;
}
.ml-3{
    margin-left: 1.5rem !important ;
}
.bg-orange {
    background: #FF6E00 !important;
}
.mt-3r{
    margin-top: 3rem !important;
}
.mb-2r{
    margin-bottom: 2rem !important;
}
.w-90{
    width: 90% !important;
}
.text-center{
    text-align: center !important;
}
.pt-1{
    padding-top: .5rem !important;
}
.pa-3{
    padding: 3rem !important;
}
.pt-2{
    padding-top: 1rem !important;
}
.w-100{
    width: 100% !important;
}
.btn-border {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FF6E00;
    border-radius: 5px;
    color: #FF6E00;
}
.lan{
    .mat-card{
        box-shadow: unset !important;
    }
}

.pos-a{
    position: absolute !important;
}
.fs-20{
    font-size: 20px !important;
}
.ml-2{
    margin-left: 2rem !important;
}
.fl-r{
    float: right !important;
}
.mt-1{
    margin-top: 1rem ;
}