.font-sm {
    font: normal normal normal 16px/20px Proxima Nova !important;
}

.font-md {
    font: normal normal normal 24px/48px Proxima Nova !important;
}

.font-lg {
    font: normal normal bold 60px/110px Proxima Nova !important;
}
.font-600{
    font: normal normal 600 20px/32px Proxima Nova;
}

.text-capital {
    text-transform: capitalize !important;
}

.clr-black {
    color: #000000 !important;
}
.bg-blk{
    background-color: #000000 !important;
}

.clr-grey {
    color: #565656 !important;
}

.clr-white {
    color: #ffffff !important;
}

.btn-clr {
    background-color: #FF6E00;
    color: #ffffff;
}

.clr-orng {
    color: #FF6E00;
}
.pa-2{
    padding: 1rem !important;
}

.pa-1 {
    padding: .5rem !important;
}

.ma-1 {
    margin: .5rem !important;
}

.ml-1 {
    margin-left: .5rem !important;
}

.bg-orange {
    background: #FF6E00 !important;
}
.mt-3r{
    margin-top: 3rem !important;
}
.mb-2r{
    margin-bottom: 2rem !important;
}
.w-90{
    width: 90% !important;
}