<div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100">
    <div fxLayout="row wrap">
        <div fxFlex.xl="5" fxFlex.lg="5" fxFlex.md="5" fxFlex.sm="5" fxFlex.xs="0" fxFlex="100"></div>
        <div fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="100" fxFlex="100">
            <div fxLayout="row wrap">
                <div fxFlex.xl="46" fxFlex.lg="46" fxFlex.md="46" fxFlex.sm="46" fxFlex.xs="100" fxFlex="100"
                    class="mar-r-2em">
                    <label class="font-600 fs-42">Enterprise Coworking™ Our Trademark Says It All</label>
                    <div class="no-highlight">
                        <span class="mr-2"><img src="./assets/images/wifi-router01.png" height="50"
                                width="50" /></span><label class="font-600">High
                            Speed Wifi</label>
                        <p class="font-sm w-90">Work from any corner on the entire floor without any interruption. Work
                            from any corner on
                            the entire floor without any interruption</p>
                    </div>
                    <div class="highlight">
                        <span class="mr-2"><img src="./assets/images/coffee.png" height="50" width="50" /></span><label
                            class="font-600">All day Tea/Coffee</label>
                        <p class="font-sm w-90">Work from any corner on the entire floor without any. Work from any
                            corner on without any interruption</p>
                    </div>
                    <div class="no-highlight">
                        <span class="mr-2"><img src="./assets/images/armchair.png" height="50"
                                width="50" /></span><label class="font-600">Breakout Zones</label>
                        <p class="font-sm w-90">Work from any corner on the entire floor without any interruption. Work
                            from any corner on the entire floor without any interruption</p>
                    </div>


                </div>
                <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlex="100">
                    <div class="mb-2r">
                        <label class="font-sm">Dui ligula interdum tortor, at pretium ligula quam ut est. Ut mollis nisi
                            quis magna hendrerit vulputate. Fusce sagittis rhoncus tortor.</label>
                    </div>
                    <div>
                        <img src="./assets/images/team-meeting-hand-shake.png" width="450" />
                        <div class="meeting-border">

                        </div>
                    </div>
                </div>
                <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" class="mt-3r mar-bt-90">
                    <div fxLayout="row wrap">
                        <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
                            fxFlex="100" style="margin-right: 16px;
                            margin-bottom: 2rem;">
                            <label class="font-600 fs-42">Spaces Around The World</label>
                            <span class="fl-r"> <img src="./assets/images/Layer 2.png" height="20" width="20" /></span>
                            <span class="font-sm fl-r">View More</span>

                        </div>
                        
                        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="100">
                            <p><img src="./assets/images/Image_01.png" height="250" width="200"/></p>
                            <p class="font-600">Ocean Golden</p>
                            <p class="font-sm">Pitt Street Kirribilli NSW 2061</p>
                        </div>
                        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="100">
                            <p><img src="./assets/images/Image_02.png" height="250" width="200"/></p>
                            <p class="font-600">TheMadbrains</p>
                            <p class="font-sm">Pitt Street Kirribilli NSW 2061</p>
                        </div>
                        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="100">
                            <p><img src="./assets/images/Image_03.png" height="250" width="200"/></p>
                            <p class="font-600">Paranjape Towers</p>
                            <p class="font-sm">Pitt Street Kirribilli NSW 2061</p>
                        </div>
                        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="100">
                            <p><img src="./assets/images/Image_04.png" height="250" width="200"/></p>
                            <p class="font-600">M3M Woodshire</p>
                            <p class="font-sm">Pitt Street Kirribilli NSW 2061</p>
                        </div>
                        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxFlex="100">
                            <p><img src="./assets/images/Image__05.png" height="250" width="200"/></p>
                            <p class="font-600">M3M Woodshire</p>
                            <p class="font-sm">Pitt Street Kirribilli NSW 2061</p>
                        </div>

                    </div>
                </div>
                <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlex="100" class="mt-3r">
                    <div fxLayout="row wrap">
                        <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
                            fxFlex="100" style="margin-right: 16px;
                            margin-bottom: 2rem;" >
                             <div class="text-center mar-bt-sub-194"><img src="./assets/images/Play.png"/> </div>
                             <img src="./assets/images/video_img.png" class="video-img" />
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex.xl="5" fxFlex.lg="5" fxFlex.md="5" fxFlex.sm="5" fxFlex.xs="0" fxFlex="100"></div>
    </div>
</div>